.side_bar
  .side-header
    .top-items
      .top-items-name masa
      .top-items-icons
        = link_to "#" do
          = icon('fas', 'edit')
        = link_to "#" do
          = icon('fas', 'cog')

  .side-bar-grouplist
    .group-name tech-camp
    .group-message まだ何もないよ