.main_chat{
  width: calc(100vw - 300px);
  float: left;
  height: 100vh;
  .main-chat-group-info{
    height: 100px;
    background-color: #ffffff;
    width: calc(100vw - 300px);
    font-size: 20px;
    color: #333333;
    padding-top: 35px;
    padding-left: 40px;
    .main-chat-group-member{
      color: #999999;
      font-size: 12px;
      padding-top: 15px;
    }
    .main-chat-edit-btn{
      float: right;
      height: 40px;
      margin-right: 40px;
      border: 1px solid;
      width: 72px;  
      padding: 0px 20px;    
      line-height: 40px;
      color: #38aef0; 
    }
    .main-chat-edit-btn a{
      color: #38aef0; 
      text-decoration: none;
    }

  }
  .main-chat-message{
      height: calc(100vh - 190px);
      background-color:#fafafa ;
      width: calc(100vw - 300px);
      padding-left: 40px;
      padding-top: 35px;
      overflow: scroll;
    .main-chat-message-list{
      padding-bottom: 20px;
      .main-chat-message-list-info{
        display: flex;
      }
        .main-chat-message-talker{
          font-size: 16px;
          font-weight: bold;
        }
        .main-chat-message-date{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
          }
      .main-chat-message-statement{
          font-size: 14px;
          color: #434a54;
          margin-top: 12px;
      }
    }
  }
    // .main-chat-message-list2{
    //   height: calc(100vw - 190px);
    //   background-color:#fafafa ;
    //   width: calc(100vw - 300px);
    //   padding-top: 46px;
    // }
      // .main-chat-message-list-info2{
      //   display: flex;
      // }
      //   .main-chat-message-talker2{
      //     font-size: 16px;
      //     font-weight: bold;
      //   }
      //   .main-chat-message-date2{
      //     font-size: 12px;
      //     color: #999999;
      //     margin-left: 10px;
      //     }
      // .main-chat-message-statement2{
      //     font-size: 14px;
      //     color: #434a54;
      //     margin-top: 12px;
      // }
  .main-chat-message-form{
    height: 90px;
    background-color: #d2d2d2;
    width: calc(100vw - 300px);
    .main-chat-message-input{
      line-height: 90px;
      margin-left: 40px;
      height: 100%;
      width: 100%;
      display: flex;  
      .main-chat-message-input-box{
        .new_message{
          display: flex;
        }
        .main-chat-message-input-box-2 {
          margin-top: 21px;
          width: calc(100vw - 520px);
          height: 50px;
          border: none;
        }
        .main-chat-message-input-box-icon {
          font-size: 1.3rem;
          i{
            line-height: 50px;
            width: 30px;
            background-color: #ffffff;
            margin-top: 20px;
          }
          .none{
            visibility: hidden;
            display: none;
          }
        }
      } 
        
        .main-chat-message-input-box-send-btn{
          padding-left: 0px;
          border: 1px solid;
          width: 100px;
          height: 50px;
          color: #ffffff;
          background-color: #38aef0;
          margin: 20px 40px 20px 15px;
          line-height: 50px;
          text-decoration: none;
        }
        // .main-chat-message-input-box-send-btn a{
        //   text-decoration: none;
        //   color: #fafafa;
        //   font-weight: bold;
        // }
    }
  }
}